.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #6f91d6;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Firstcomponent{
  background-color: rgb(29, 100, 100);
}
.Secondcomponent{
  background-color: beige;
}
.Contactuscomponent{
  background-color: rgb(179, 139, 214);
}
.Helpcomponent{
  background-color: rgb(241, 195, 178);
}
.Thirdcomponent{
  background-color: rgb(233, 178, 139);
  color: white;
  padding: 30px;
}
.Fourthcomponent{
  background-color: rgb(141, 182, 205);
}
.Sixthcomponent{
  background-color: rgb(210, 136, 136);
}
.Fifthcomponent{
  background-color: rgb(236, 95, 123);
}
.Notfound{
  font-size: 50px;
  color: rgb(208, 117, 117);
  font-weight: 900;
}

nav{
  background-color: antiquewhite;
  padding: 20px;
}
.navlinks{
  margin: 10px;
  text-decoration: none;
  font-size: 25px;
  background-color: rgb(231, 226, 96);
  padding: 8px;
  border-radius: 10px;
  font-weight: 500;
}
.navlinks:hover{
  background-color: aliceblue;
  color: grey;
}